@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PersonalFinanceManagement.ViewModels.RegisterViewModel
@{
    Layout = "_Login";
}
@{
    ViewData["Title"] = "Register";
}


<section class="background-radial-gradient overflow-hidden">
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
         <div class="row gx-lg-5  mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
               <h1 class="my-5 display-5 fw-bold ls-tight" style="color:#38bdf8">
                  Manage Your Finances <br />
                  <span class="text-white">   with Eases</span>
               </h1>
               <p class="mb-4 opacity-70 text-white">
                  Sign up now to easily track your expenses, gain insights into your spending habits, and take control of your finances.
               </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
               <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
               <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

               <div class="card bg-dark text-white">
                  <div class="card-body px-4 py-5 px-md-5">
                      <form asp-action="Register" asp-controller="Account" method="post">
                          
                          <div asp-validation-summary="All" class="alert alert-danger"></div>
                          <div class="form-group">
                              <label asp-for="Name"></label>
                              <input asp-for="Name" name="Name" class="form-control"/>
                              <span asp-validation-for="Name" class="text-danger"></span>
                          </div>
                          <div class="form-group">
                              <label asp-for="Email"></label>
                              <input asp-for="Email" name="Email" class="form-control"/>
                              <span asp-validation-for="Email" class="text-danger"></span>
                          </div>
                          <div class="form-group">
                              <label asp-for="Password"></label>
                              <input asp-for="Password" name="Password" class="form-control"/>
                              <span asp-validation-for="Password" class="text-danger"></span>
                          </div>
                          <div class="form-group">
                              <label asp-for="ConfirmPassword"></label>
                              <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control"/>
                              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                          </div>
                          <div class="text-center">
                              <p>Do you have an account?</p>
                              <a asp-controller="Account" asp-action="Login" style="background-color:#38bdf8" class="btn ">Login</a>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary">Register</button>
                          </div>
                      </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
<div>
    <a href="/Account/Login">Log in to an existing account</a>
</div>
