@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PersonalFinanceManagement.ViewModels.RegisterViewModel
@{
    Layout = "_Login";
}
@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="alert alert-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" name="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" name="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

<div>
    <a href="/Account/Login">Log in to an existing account</a>
</div>
