@model  PersonalFinanceManagement.ViewModels.TransactionViewModel

<h1>Transaction History</h1>
@* *@
@* <p>Total Income: @Model.TotalIncome.ToString("C")</p> *@
@* <p>Total Spending: @Model.TotalSpending.ToString("C")</p> *@
@* <p>Total Profit: @Model.TotalProfit.ToString("C")</p> *@
<a class="btn btn-primary" href="@Url.Action("Create", "Transaction")">Create Transaction</a>


<hr>

<h2>Transaction List</h2>


